<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
    <link rel = "icon" href = "/Favicon.ico">
    <link rel="stylesheet" href="/styles/confirmation.css">
</head>
<body>
    <main>
        
        <section class = "confirmation-section">
            <header>
            <h1>Booking Confirmed!</h1>
        </header>
            <p>Thank you for booking your vacation with us!
        </section>
    </main>
    
</body>
</html>