body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at top, #252994, #094e58 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-section {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}